CONTAINER_NAME_BACKEND=conduit-backend
CONTAINER_NAME_FRONTEND=conduit-frontend
RESTART_POLICY=unless-stopped
SECRET_KEY='2^f+3@v7$v1f8yt0!s)3-1t$)tlp+xm17=*g))_xoi&&9m#2a&'
ALLOWED_HOSTS=*
CORS_ORIGIN_WHITELIST=''0.0.0.0:4000', 'localhost:4000''